
  body{
    background-color: #e3fded;
  }
  hr{
    background-color: transparent;
    border-style: none;
    border-top-style: dotted;
    border-top-width: 5.5px;
    border-top-color: #71c9ce;
    width: 5%;
  }
  td:hover{
    color:gold;
  }
  h1{
    color: #11999e;
  }
  h3{
    color: #11999e;
  }
  th{
    color: #355c7d;
  }
  h2{
    color: #355c7d;
  }
